.footer {
    // position: fixed;
    // bottom: 0;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 280px;
}

.footer ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}


.footer ul img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.footer ul li {
    height: 100px;
}

.soc_logos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.soc_logos div {
    display: flex;
    gap: 20px;
}

.soc_logos p {
    color: red;
}

.soc_logos img {
    width: 40px !important;
    height: 40px !important;
}