
.container {
    margin-top: 40px;
}



.data {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    padding-bottom: 20px;
}

.data h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 16px;
    line-height: 1.33;
    margin-left: 15px;
    font-weight: 400;
}

.ul .data img {
    width: 312px !important;
    height: 312px;
}
.textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
}

.textContainer h3{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}



.metisNaxvda {
    color: red;
    text-decoration: underline;
    font-size: 20px;
}

.TextWithMore h4{
}